{% extends "app_Projeto/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Entrar na Lista de Usuarios{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card auth-card">
      <div class="card-body">
        <h4 class="car-title text-center">Entrar na Lista</h4>

        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{next}}">

          {{form|crispy}}
          <button type="submit" class="btn btn-prymary btn-block">Entrar</button>
        </form>
        <p class="change-form-p"><Q>Quer criar uma conta ? <a href="/accounts/register">Clique aqui.</a></Q></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}